.App-master {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.IDSControlPanelContainer {
    max-width: 1200px;
    margin: 1rem auto;
    margin-left: 400px;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.IDSControlPanelTitle {
    text-align: center;
    color: #333;
}

.IDSControlPanelStatus {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.statusRunning {
    color: green;
    font-weight: bold;
}

.statusStopped {
    color: red;
    font-weight: bold;
}

.IDSControlPanelMessage {
    text-align: center;
    color: #666;
    margin-bottom: 20px;
}

.IDSControlPanelButtonGroup {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.IDSControlButton {
    padding: 10px 20px;
    background-color: white;
    border: 1px solid #00000033;
    color: #555;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.IDSControlButton:hover {
    border: 1px solid #00000033;
    background-color: #eee;
}

.IDSControlButton:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.IDSControlStartButton {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}
.IDSControlStartButton:hover {
    background-color: #218838;
    border: none;
}

.IDSControlStopButton {
    padding: 10px 20px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.IDSControlStopButton:hover {
    background-color: #b02a37;
}

.IDSControlStopButton:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.IDSControlDeleteButton {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.IDSControlDeleteButton:hover {
    background-color: #b02a37;
}

.IDSControlSection {
    margin-bottom: 30px;
    padding: 15px;
    color: #555;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.IDSControlSection h2 {
    margin-top: 0;
    color: #333;
}

.IDSControlInputGroup {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    align-items: center;
}

.IDSControlInput {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
}

.IDSLogBox {
    margin-top: 20px;
}

.IDSLogBoxTitle {
    color: #333;
    margin-bottom: 10px;
}

.IDSLogScrollArea {
    max-height: 300px; /* Adjustable height for scrolling */
    overflow-y: auto; /* Enables vertical scrolling */
    padding: 10px;
    color: #555;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.IDSLogEntry {
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.IDSLogEntry p {
    margin: 5px 0;
}

.IDSLogNoData {
    color: #666;
    text-align: center;
    padding: 10px;
}
